{% extends 'base.html' %} {% block title %}

<title>Painel de Editção</title>

{% endblock %} {% block body %}

<div id="edit-pagina" class="container">
  <header class="row mt-4">
    <div class="col text-center">
      <h1>Painel de Edição</h1>
    </div>
  </header>
  <main class="row mt-4">
    <div class="col">
      <div class="cards">
        <div class="card m-1" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Sobre mim</h5>
            <p class="card-text">Informações sobre mim</p>
            <a href="{{url_for('sobre')}}" class="btn btn-primary">Editar</a>
          </div>
        </div>

        <div class="card m-1" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Educação</h5>
            <p class="card-text">Currículo educacional</p>
            <a href="#" class="btn btn-primary">Editar</a>
          </div>
        </div>

        <div class="card m-1" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Projetos</h5>
            <p class="card-text">Projetos pessoais</p>
            <a href="#" class="btn btn-primary">Editar</a>
          </div>
        </div>


        <div class="card m-1" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Experiências</h5>
            <p class="card-text">Experiência profissional</p>
            <a href="#" class="btn btn-primary">Editar</a>
          </div>
        </div>

        <div class="card m-1" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Skills</h5>
            <p class="card-text">Conhecimentos</p>
            <a href="#" class="btn btn-primary">Editar</a>
          </div>
        </div>

    </div>
  </main>
</div>

{% endblock %}
