<nav
class="navbar navbar-expand-lg bg-dark fixed-top"
data-bs-theme="dark"
>
<div class="container-fluid">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#sobre">SOBRE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">SKILLS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#educacao">EDUCAÇÃO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projetos">PROJETOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contato">CONTATO</a>
      </li>
    </ul>
  </div>
</div>
</nav>